.footer {
    background-color: #171717;
    min-height: 160px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.footer__wrap {
    display: flex;
    align-items: center;
    color: #fff;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.footer__title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__block {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
    }
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: 80px;
    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.footer__link {
    min-width: 50px;
    height: 50px;
    background-color: var(--color-grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__btn {
    max-width: 317px;
    margin-left: auto;
    // @media (max-width: 1023px) {
    //     display: none;
    // }
    @media(max-width: 767px) {
        font-size: 14px;
    }
}

.footer__logo {
    @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
