footer.footer
	.container 
		.footer__wrap 
			img.logo.footer__logo(src=require("../../images/IMG_1802-2 1.png"), alt="")
			span.footer__title Оптимизируем налоги
			.footer__block
				button.btn.footer__btn Получить предложение оптимизации налогов
				.footer__links 
					a.footer__link(href="") 
						svg(width="28" height="26")
							use(xlink:href="#icn-tg")
					a.footer__tel(href="tel:+74999386547") +7 (499) 938-65-47


.vectors
	<svg id="icn-tg" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_100_3)"><path d="M25.0883 2.48693C24.3115 2.79282 2.26515 12.0592 2.26515 12.0592C2.26515 12.0592 1.19744 12.4232 1.28213 13.0954C1.36682 13.7677 2.23793 14.0754 2.23793 14.0754L7.91226 15.9795C7.91226 15.9795 9.62541 21.5804 9.96301 22.6433C10.3005 23.7081 10.5704 23.733 10.5704 23.733C10.8837 23.8693 11.1705 23.6517 11.1705 23.6517L14.837 20.3189L20.5525 24.6874C22.0975 25.3597 22.6594 23.9594 22.6594 23.9594L26.597 3.84805C26.9454 2.29189 25.9086 2.16503 25.0883 2.48693Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/><path d="M7.93005 15.9783L22.4486 6.49323L12.1646 18.3496" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.9562 23.685L12.1661 18.3496L14.5858 20.1281" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_100_3"><rect width="27.7778" height="24.8016" fill="white" transform="translate(0.185059 0.963013)"/></clipPath></defs></svg>
	<svg id="icn-arrow" width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.335H22.34M22.34 6.335L17.005 1M22.34 6.335L17.005 11.67" stroke="white" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"/></svg>
	<svg id="icn-check" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_66_298)"><path d="M41.918 21C41.918 25.1532 40.6875 29.1922 38.3599 32.6805C38.0436 33.1547 37.5239 33.4109 36.9945 33.4109C36.6811 33.4109 36.3642 33.3213 36.0841 33.1335C35.3308 32.6291 35.1286 31.6082 35.632 30.8533C37.5979 27.9076 38.6367 24.5005 38.6367 21C38.6367 19.4958 38.449 18.0019 38.0785 16.5603C37.8526 15.6813 38.381 14.7848 39.2584 14.5585C40.1364 14.3325 41.0304 14.8616 41.2563 15.7406C41.6953 17.45 41.918 19.2194 41.918 21ZM30.0837 36.1968C27.3279 37.8692 24.1585 38.7534 20.918 38.7534C11.1479 38.7534 3.19922 30.7891 3.19922 21C3.19922 11.2108 11.1479 3.24653 20.918 3.24653C24.5354 3.24653 28.0137 4.33108 30.9774 6.38298C31.7227 6.89893 32.7446 6.71175 33.2598 5.96496C33.7748 5.21817 33.5883 4.19431 32.8426 3.67804C29.3281 1.24504 25.2048 -0.0411377 20.918 -0.0411377C15.3088 -0.0411377 10.0351 2.14754 6.06871 6.12164C2.10237 10.0957 -0.0820312 15.3798 -0.0820312 21C-0.0820312 26.6201 2.10237 31.9042 6.06871 35.8783C10.0351 39.8524 15.3088 42.0411 20.918 42.0411C24.7581 42.0411 28.5155 40.9925 31.7839 39.0086C32.559 38.5383 32.8067 37.5276 32.3373 36.7509C31.8675 35.9743 30.8588 35.7264 30.0837 36.1968ZM21.0763 25.7664C20.8164 25.7767 20.5738 25.6842 20.3854 25.5045L11.793 17.3415C11.1354 16.7167 10.0969 16.7443 9.47365 17.4031C8.85009 18.0619 8.87764 19.1025 9.53517 19.7269L18.126 27.8887C18.9194 28.6444 19.9458 29.0548 21.0333 29.0548C21.0917 29.0548 21.15 29.0535 21.2083 29.0512C22.3603 29.0047 23.4183 28.5051 24.1874 27.6443C24.2069 27.6228 24.2255 27.6007 24.2438 27.5779L41.5559 6.00253C42.1237 5.29491 42.0115 4.26013 41.3053 3.69152C40.5994 3.1226 39.5663 3.23498 38.9985 3.9426L21.7203 25.4759C21.5505 25.6534 21.323 25.7565 21.0763 25.7664Z" fill="#FF8700"/></g><defs><clipPath id="clip0_66_298"><rect width="42" height="42" fill="white"/></clipPath></defs></svg>

